escobar/.vs/escobar/v15/Server/sqlite3/storage.ide-wal
escobar/.vs/escobar/v15/Server/sqlite3/storage.ide-shm
escobar/.vs/escobar/v15/Server/sqlite3/storage.ide
escobar/.vs/escobar/v15/Server/sqlite3/db.lock
datos_base.json
escobar/Assets/Firebase/Plugins/Mono.meta
escobar/Assets/google-services.json
